@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap");

:root {
  --font-base: "Rubik", sans-serif;

  --primary-color: #FFFFFF;
  --secondary-color: #368600;
  --black-color: #030303;
  --lightGray-color: #9047C9;
  --gray-color: #0F0F44;
  --violet-color: #814191;
  --white-color: #ffffff;
}

body {
  background-color: var(--primary-color);
  font-family: var(--font-base);
}

/* Apply the font to other elements if needed */
h1, h2, h3, p, div {
  font-family: var(--font-base);
}