@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-base: "DM Sans", sans-serif;

  --primary-color: #0f0f44;
  --secondary-color: #368600;
  --black-color: #030303;
  --violet-color: #814191;
  --white-color: #ffffff;
}

@layer base {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-bold font-rubik;
  }

  h1 {
    @apply text-4xl;
  }

  h2 {
    @apply text-3xl;
  }

  h3 {
    @apply text-2xl;
  }

  h4 {
    @apply text-xl;
  }

  h5 {
    @apply text-lg;
  }

  h6 {
    @apply text-base;
  }

  section {
    @apply px-14 py-20;
  }

  button {
    @apply bg-primary-300 text-white 
            flex items-center justify-center gap-2
            px-4 py-2 font-semibold 
            transition-all duration-200 ease-in-out;

    &:hover {
      @apply bg-primary;
    }

    &:active {
      @apply bg-primary-500;
    }

    &:disabled {
      @apply bg-caos-gray-200 text-caos-gray-400 cursor-not-allowed;
    }

    &.accent-button {
      @apply bg-accent text-white;

      &:hover {
        @apply bg-accent-hover text-white;
      }

      &:active {
        @apply bg-accent-active text-white;
      }

      &:disabled {
        @apply bg-accent-hover text-white cursor-not-allowed;
      }
    }
  }

  input,
  textarea {
    @apply w-full px-4 py-2 border border-caos-gray-200 rounded-md outline-none;

    &::placeholder {
      @apply text-caos-gray-400;
    }

    &:focus {
      @apply border-primary-400;
    }
  }
}

@layer components {
  .invalid-feedback {
    @apply text-red-500 text-sm;
  }
}
